@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff0f3;
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 77, 109, 0.5);
  }
}
